<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <!--  endbower -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="scss/products.scss">
    <link rel="stylesheet" href="css/products.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    <!-- bower:js -->
    <script src='../bower_components/jquery/dist/jquery.js'></script>
    <script src='../bower_components/bootstrap/dist/js/bootstrap.js'></script>
    <script src='../bower_components/angular/angular.js'></script>
    <script src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap.js'></script>
    <!-- endbower -->

</head>



<body ng-app="tiy-catalog" ng-controller="StoreController as store">

    <div class="container">

        <nav class="navbar">
            <a ng-click="store.setView('list')" class="glyphicon glyphicon-th-list"></a>
            <a ng-click="store.setView('grid')" class="navAnchors glyphicon glyphicon-th"></a>
        </nav>

        <section class="tab-content container-fluid">
            <div ng-show="store.isSelected(1)" class="listings" ng-class="store.getView()">
                <div ng-repeat="item in store.items" class="listing">
                    <img class="text-center grid-img" ng-src="{{item.MainImage[0].url_75x75}}">
                    <h1>{{item.title}}</h1>
                    <span class="price">{{item.price | currency}}</span>
                    <p class="grid-descrition">{{item.description}}</p>
                    <div class="list-button">
                        <a class="cartbutton">
                            <icon class="glyphicon glyphicon-plus-sign">
                            </icon> Add to cart
                        </a>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <script>
        window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
    </script>
    <script src="js/plugins.js"></script>
    <script src="js/products.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type='text/javascript' id="__bs_script__">
        document.write("<script async src='//HOST:3004/browser-sync/browser-sync-client.1.9.1.js'><\/script>".replace(/HOST/g, location.hostname).replace(/PORT/g, location.port));
    </script>


</body>

</html>