<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <!--  endbower -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <!-- endbower -->

</head>

<style>
    .product-list {
        list-style: none;
    }
</style>

<body>

    <div class="container">

        <nav>
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="active">
                    <a class="glyphicon glyphicon-th" href="#grid" role="tab" data-toggle="tab"></a>
                </li>
                <li role="presentation">
                    <a class="glyphicon glyphicon-th-list" href="#list" role="tab" data-toggle="tab"></a>
                </li>

            </ul>
        </nav>

        <section class="tab-content" ng-controller="ProductController as item">
            <div class="tab-pane active" id="grid">
                <!--this div is for the grid layout-->
                <div ng-repeat="product in item.products" class="col-xs-12 col-sm-6 col-md-4">
                    <img src="http://lorempixel.com/200/200">
                    <h1>Widget</h1>
                    <span>$5.00</span>
                    <p>This is the most spectacular description of all time. Dont you think?</p>
                    <button>Add to cart</button>
                </div>
                <div ng-repeat="product in item.products" class="col-xs-12 col-sm-6 col-md-4">
                    <img src="http://lorempixel.com/200/200">
                    <h1>Widget</h1>
                    <span>$5.00</span>
                    <p>This is the most spectacular description of all time. Dont you think?</p>
                    <button>Add to cart</button>
                </div>
                <div ng-repeat="product in item.products" class="col-xs-12 col-sm-6 col-md-4">
                    <img src="http://lorempixel.com/200/200">
                    <h1>Widget</h1>
                    <span>$5.00</span>
                    <p>This is the most spectacular description of all time. Dont you think?</p>
                    <button>Add to cart</button>
                </div>
                <div ng-repeat="product in item.products" class="col-xs-12 col-sm-6 col-md-4">
                    <img src="http://lorempixel.com/200/200">
                    <h1>Widget</h1>
                    <span>$5.00</span>
                    <p>This is the most spectacular description of all time. Dont you think?</p>
                    <button>Add to cart</button>
                </div>
                <div ng-repeat="product in item.products" class="col-xs-12 col-sm-6 col-md-4">
                    <img src="http://lorempixel.com/200/200">
                    <h1>Widget</h1>
                    <span>$5.00</span>
                    <p>This is the most spectacular description of all time. Dont you think?</p>
                    <button>Add to cart</button>
                </div>
                <div ng-repeat="product in item.products" class="col-xs-12 col-sm-6 col-md-4">
                    <img src="http://lorempixel.com/200/200">
                    <h1>Widget</h1>
                    <span>$5.00</span>
                    <p>This is the most spectacular description of all time. Dont you think?</p>
                    <button>Add to cart</button>
                </div>
                <div ng-repeat="product in item.products" class="col-xs-12 col-sm-6 col-md-4">
                    <img src="http://lorempixel.com/200/200">
                    <h1>Widget</h1>
                    <span>$5.00</span>
                    <p>This is the most spectacular description of all time. Dont you think?</p>
                    <button>Add to cart</button>
                </div>
                <div ng-repeat="product in item.products" class="col-xs-12 col-sm-6 col-md-4">
                    <img src="http://lorempixel.com/200/200">
                    <h1>Widget</h1>
                    <span>$5.00</span>
                    <p>This is the most spectacular description of all time. Dont you think?</p>
                    <button>Add to cart</button>
                </div>
                <div ng-repeat="product in item.products" class="col-xs-12 col-sm-6 col-md-4">
                    <img src="http://lorempixel.com/200/200">
                    <h1>Widget</h1>
                    <span>$5.00</span>
                    <p>This is the most spectacular description of all time. Dont you think?</p>
                    <button>Add to cart</button>
                </div>
                <div ng-repeat="product in item.products" class="col-xs-12 col-sm-6 col-md-4">
                    <img src="http://lorempixel.com/200/200">
                    <h1>Widget</h1>
                    <span>$5.00</span>
                    <p>This is the most spectacular description of all time. Dont you think?</p>
                    <button>Add to cart</button>
                </div>
                <div ng-repeat="product in item.products" class="col-xs-12 col-sm-6 col-md-4">
                    <img src="http://lorempixel.com/200/200">
                    <h1>Widget</h1>
                    <span>$5.00</span>
                    <p>This is the most spectacular description of all time. Dont you think?</p>
                    <button>Add to cart</button>
                </div>
                <div ng-repeat="product in item.products" class="col-xs-12 col-sm-6 col-md-4">
                    <img src="http://lorempixel.com/200/200">
                    <h1>Widget</h1>
                    <span>$5.00</span>
                    <p>This is the most spectacular description of all time. Dont you think?</p>
                    <button>Add to cart</button>
                </div>
            </div>


            <!--this div is for the grid layout-->
            <div class="tab-pane" id="list">
                <ul>
                    <li>
                        <div>
                            <img src="http://lorempixel.com/200/200">
                            <h1>Widget</h1>
                            <span>$5.00</span>
                            <p>This is the most spectacular description of all time. Dont you think?</p>
                            <button>Add to cart</button>
                        </div>
                    </li>

                    <li>
                        <div>
                            <img src="http://lorempixel.com/200/200">
                            <h1>Widget</h1>
                            <span>$5.00</span>
                            <p>This is the most spectacular description of all time. Dont you think?</p>
                            <button>Add to cart</button>
                        </div>
                    </li>

                    <li>
                        <div>
                            <img src="http://lorempixel.com/200/200">
                            <h1>Widget</h1>
                            <span>$5.00</span>
                            <p>This is the most spectacular description of all time. Dont you think?</p>
                            <button>Add to cart</button>
                        </div>
                    </li>

                    <li>
                        <div>
                            <img src="http://lorempixel.com/200/200">
                            <h1>Widget</h1>
                            <span>$5.00</span>
                            <p>This is the most spectacular description of all time. Dont you think?</p>
                            <button>Add to cart</button>
                        </div>
                    </li>

                    <li>
                        <div>
                            <img src="http://lorempixel.com/200/200">
                            <h1>Widget</h1>
                            <span>$5.00</span>
                            <p>This is the most spectacular description of all time. Dont you think?</p>
                            <button>Add to cart</button>
                        </div>
                    </li>

                    <li>
                        <div>
                            <img src="http://lorempixel.com/200/200">
                            <h1>Widget</h1>
                            <span>$5.00</span>
                            <p>This is the most spectacular description of all time. Dont you think?</p>
                            <button>Add to cart</button>
                        </div>
                    </li>

                    <li>
                        <div>
                            <img src="http://lorempixel.com/200/200">
                            <h1>Widget</h1>
                            <span>$5.00</span>
                            <p>This is the most spectacular description of all time. Dont you think?</p>
                            <button>Add to cart</button>
                        </div>
                    </li>

                    <li>
                        <div>
                            <img src="http://lorempixel.com/200/200">
                            <h1>Widget</h1>
                            <span>$5.00</span>
                            <p>This is the most spectacular description of all time. Dont you think?</p>
                            <button>Add to cart</button>
                        </div>
                    </li>

                    <li>
                        <div>
                            <img src="http://lorempixel.com/200/200">
                            <h1>Widget</h1>
                            <span>$5.00</span>
                            <p>This is the most spectacular description of all time. Dont you think?</p>
                            <button>Add to cart</button>
                        </div>
                    </li>

                    <li>
                        <div>
                            <img src="http://lorempixel.com/200/200">
                            <h1>Widget</h1>
                            <span>$5.00</span>
                            <p>This is the most spectacular description of all time. Dont you think?</p>
                            <button>Add to cart</button>
                        </div>
                    </li>

                    <li>
                        <div>
                            <img src="http://lorempixel.com/200/200">
                            <h1>Widget</h1>
                            <span>$5.00</span>
                            <p>This is the most spectacular description of all time. Dont you think?</p>
                            <button>Add to cart</button>
                        </div>
                    </li>

                    <li>
                        <div>
                            <img src="http://lorempixel.com/200/200">
                            <h1>Widget</h1>
                            <span>$5.00</span>
                            <p>This is the most spectacular description of all time. Dont you think?</p>
                            <button>Add to cart</button>
                        </div>
                    </li>
                </ul>
            </div>
            <!--this div is for the list layout-->
        </section>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
    </script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


</body>

</html>