    <header ng-controller="StoreController as store">
        <nav class="navbar">
            <a href="#" ng-click="store.setView('list')" ng-class="{true: 'active'}[store.getView() === 'list']" class="glyphicon glyphicon-th-list"></a>
            <a href="#" ng-click="store.setView('grid')" ng-class="{true: 'active'}[store.getView() === 'grid']" class="glyphicon glyphicon-th"></a>
        </nav>

        <section class="tab-content">
            <ul ng-show="store.isSelected(1)" class="listings" ng-class="store.getView()">
                <li ng-repeat="item in store.items" class="listing">
                    <a href="#"><img class="text-center grid-img" ng-src="{{item.MainImage[0].url_75x75}}">
                    </a>
                    <h1>{{item.title}}</h1>
                    <span class="price">{{item.price | currency}}</span>
                    <p class="grid-descrition">{{item.description}}</p>
                    <div class="list-button">
                        <a href="#" class="cartbutton">
                            <icon class="glyphicon glyphicon-plus-sign"></icon> Add to cart
                        </a>
                    </div>
                </li>
            </ul>
        </section>
    </header>
