.product-wrapper{
    color: cornflowerblue;
}
.product-img > img {
    padding: 2em;
    border: solid cornflowerblue 4px;
}

.product-name {
    display: block;
    float: left;
    margin: 0.5ex 0;
    font-weight: 400;
}

.price {
    text-align: right;
    display: block;
    margin: 0.7ex 0;
    font-size: 1.5em;
    font-weight: bolder;
}

/******************
    Media Queries
******************/

@media (max-width: 480px) {
    .product-detail{
        margin: 0 auto;
        width: 80%;
    }
}
