.product-wrapper{
    color: cornflowerblue;
}
.product-img {
    background-image: url('http://lorempixel.com/output/nature-q-c-350-350-5.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 70%;
    width: 70%;
}
.product-detail {
    position: relative;
}

.product-name {
    position: absolute;
    left: 0.5em;
    margin: 0.5ex 0;
    font-weight: 400;
}

.price {
    position: absolute;
    right: 0.5em;
    margin: 0.7ex 0;
    font-size: 1.5em;
    font-weight: bolder;
}

/******************
    Media Queries
******************/

@media (max-width: 480px) {
    .product-detail{
        margin: 0 auto;
        width: 80%;
    }
}
