<h1>Product details</h1>

<<<<<<< HEAD
    <h2><%= @listing.title %></h2>
    <p><%= @listing.description %></p>
    <h3>Price: $<%= @listing.price %></h3> 

<%= link_to 'Back', root_path, class: 'back_button' %>
=======

>>>>>>> 02205fa515fc8a870cb655cd05b1f29b83ddd379
