/* line 1, /Users/Sam/Sites/TIY-Catalog-myClone/TIY-Catalog/angular/src/scss/products.scss */
::before {
  color: #D0D0D0; }

/* line 5, /Users/Sam/Sites/TIY-Catalog-myClone/TIY-Catalog/angular/src/scss/products.scss */
:hover:before {
  color: #58A4D7; }

/*  **Known Issue Selected Anchor tag will need to add a class to change its color**
    :selected:before {
        color: #58A4D7;
    }
*/
/* line 14, /Users/Sam/Sites/TIY-Catalog-myClone/TIY-Catalog/angular/src/scss/products.scss */
.container {
  border: 3px solid #47a3da;
  Padding-top: 2em;
  margin-top: 3em;
  margin-bottom: 3em; }

/* line 21, /Users/Sam/Sites/TIY-Catalog-myClone/TIY-Catalog/angular/src/scss/products.scss */
.navbar > a {
  float: right;
  font-size: 2em;
  padding-bottom: 1em;
  padding-right: 1em;
  text-decoration: none !important; }

/* line 29, /Users/Sam/Sites/TIY-Catalog-myClone/TIY-Catalog/angular/src/scss/products.scss */
.glyphicon-plus-sign:before {
  color: white; }

/* line 33, /Users/Sam/Sites/TIY-Catalog-myClone/TIY-Catalog/angular/src/scss/products.scss */
img {
  border: 0.5em solid lightgray;
  text-align: center;
  margin-top: 4em; }

/* line 39, /Users/Sam/Sites/TIY-Catalog-myClone/TIY-Catalog/angular/src/scss/products.scss */
img:hover {
  border: 0.5em solid gray; }

/* line 43, /Users/Sam/Sites/TIY-Catalog-myClone/TIY-Catalog/angular/src/scss/products.scss */
h1 {
  color: #47a3da; }

/* line 47, /Users/Sam/Sites/TIY-Catalog-myClone/TIY-Catalog/angular/src/scss/products.scss */
span {
  color: #47a3da;
  text-align: center; }

/* line 52, /Users/Sam/Sites/TIY-Catalog-myClone/TIY-Catalog/angular/src/scss/products.scss */
p {
  color: #47a3da; }

/* line 56, /Users/Sam/Sites/TIY-Catalog-myClone/TIY-Catalog/angular/src/scss/products.scss */
.nobullets {
  list-style: none; }

/* line 60, /Users/Sam/Sites/TIY-Catalog-myClone/TIY-Catalog/angular/src/scss/products.scss */
li {
  display: block;
  position: relative;
  /*        margin-top: 11%;*/ }

/* line 66, /Users/Sam/Sites/TIY-Catalog-myClone/TIY-Catalog/angular/src/scss/products.scss */
.container {
  border: 5px solid #47a3da; }

/* line 70, /Users/Sam/Sites/TIY-Catalog-myClone/TIY-Catalog/angular/src/scss/products.scss */
.navbar {
  border-bottom: 3px solid #58A3D5;
  right: 0;
  margin-bottom: 0em;
  padding-top: 1em;
  width: 100%; }

/* line 78, /Users/Sam/Sites/TIY-Catalog-myClone/TIY-Catalog/angular/src/scss/products.scss */
.list-title {
  margin-top: 12.5%;
  font-size: 2em;
  color: #58A3D6; }

/* line 84, /Users/Sam/Sites/TIY-Catalog-myClone/TIY-Catalog/angular/src/scss/products.scss */
.price {
  color: #C0C0C0;
  font-size: 2em;
  display: block; }

/* line 90, /Users/Sam/Sites/TIY-Catalog-myClone/TIY-Catalog/angular/src/scss/products.scss */
.list-price {
  margin-top: 12%; }

/* line 94, /Users/Sam/Sites/TIY-Catalog-myClone/TIY-Catalog/angular/src/scss/products.scss */
.list-description {
  margin-top: 12%;
  color: #59A4D7;
  padding: 0; }

/* line 100, /Users/Sam/Sites/TIY-Catalog-myClone/TIY-Catalog/angular/src/scss/products.scss */
.grid-description {
  margin: 1em 4em; }

/* line 104, /Users/Sam/Sites/TIY-Catalog-myClone/TIY-Catalog/angular/src/scss/products.scss */
.list-img {
  padding: 0;
  border: 0.5em solid lightgray;
  margin-bottom: 2em;
  display: block; }

/* line 111, /Users/Sam/Sites/TIY-Catalog-myClone/TIY-Catalog/angular/src/scss/products.scss */
.listing-img:hover {
  border: 0.5em solid grey; }

/* line 115, /Users/Sam/Sites/TIY-Catalog-myClone/TIY-Catalog/angular/src/scss/products.scss */
.cartbutton {
  margin-bottom: 2em;
  color: white;
  background-color: #47a3da;
  border-radius: 2px;
  height: 3em;
  padding: 1em;
  margin-bottom: 4em;
  font-size: 1em;
  display: inline-block; }

/* line 127, /Users/Sam/Sites/TIY-Catalog-myClone/TIY-Catalog/angular/src/scss/products.scss */
.cartbutton:hover {
  text-decoration: none;
  color: white;
  background-color: darkblue; }

/* line 133, /Users/Sam/Sites/TIY-Catalog-myClone/TIY-Catalog/angular/src/scss/products.scss */
.list-button {
  margin-top: 12%;
  padding: 0; }

/* line 138, /Users/Sam/Sites/TIY-Catalog-myClone/TIY-Catalog/angular/src/scss/products.scss */
.list-li {
  padding-bottom: 1em;
  margin-top: 0; }

@media (max-width: 991px) {
  /* line 144, /Users/Sam/Sites/TIY-Catalog-myClone/TIY-Catalog/angular/src/scss/products.scss */
  .list-title {
    margin-top: 23.5%; }

  /* line 147, /Users/Sam/Sites/TIY-Catalog-myClone/TIY-Catalog/angular/src/scss/products.scss */
  .list-price {
    margin-top: 22%; }

  /* line 150, /Users/Sam/Sites/TIY-Catalog-myClone/TIY-Catalog/angular/src/scss/products.scss */
  .list-description {
    margin-top: -3%; }

  /* line 153, /Users/Sam/Sites/TIY-Catalog-myClone/TIY-Catalog/angular/src/scss/products.scss */
  .list-button {
    margin-top: 0; }
 }

/*# sourceMappingURL=products.css.map */