$blue: cornflowerblue;

.product-wrapper {
  color: $blue;
  /**
   * Changing the position to relative on all product divs for the top right button
   * We can totally take this out if it breaks too much stuff
   */
  .product-detail {
    position: relative;
    border-radius: 0;
    img {
      padding: 2em;
      border: solid $blue 4px;
    }
  }
  .product-select {
    width: 100%;
    display: inline;
    .btn {
      width: 20%;
      margin-top: -0.8ex;
      border-radius: 0;
      border-right: solid $blue 2px;
      border-left: solid $blue 2px;
      border-top: solid $blue 4px;
      border-bottom: solid $blue 4px;
    }
  }
  /*
    .product-select > .btn:first-child {
        border-left: solid $blue 4px;
    }
    .product-select > .btn:last-child {
        border-right: solid $blue 4px;
    }
    */
  .product-name {
    display: block;
    float: left;
    margin: 0.5ex 0;
    font-weight: 400;
  }
  .price {
    text-align: right;
    display: block;
    margin: 0.7ex 0;
    font-size: 1.5em;
    font-weight: bolder;
  }
} /* END .product-wrapper */
