@import 'bootstrap';
$blueColor: #58A4D7;
$grayColor: #D0D0D0;
:before {
    color: $grayColor;
}

:hover:before {
    color: $blueColor;
}

.container {
    border: 3px solid #47a3da;
    padding-top: 2em;
    margin-top: 3em;
    margin-bottom: 3em;
}

.listings {
    @extend .tab-pane;
    @extend .active;
}

.listings.grid {
    .listing {
        @extend .col-sm-6;
        @extend .col-md-4;
        @extend .text-center;
    }
}

.listings.list {
    .listing {
        @extend .row;
        img {
            @extend .list-img;
            @extend .col-xs-3;
            @extend .col-sm-2;
        }
        h1 {
            @extend .col-xs-3;
            @extend .col-sm-2;
            @extend .list-title;
        }
        span {
            @extend .col-xs-3;
            @extend .col-sm-2;
            @extend .list-price;
        }
        p {
            @extend .col-md-4;
            @extend .col-sm-12;
            @extend .col-xs-12;
            @extend .list-description;
        }
        div {
            @extend .col-xs-12;
            @extend .col-sm-12;
            @extend .col-md-2;
            @extend .list-button;
        }
    }
}

.navbar > a {
    float: right;
    font-size: 2em;
    padding-bottom: 1em;
    padding-right: 1em;
    text-decoration: none !important;
    .list-icon {
        @extend .glyphicon;
        @extend .glyphicon-th-list;
    }
}

.glyphicon-plus-sign:before {
    color: white;
}

img {
    border: 0.5em solid lightgray;
    text-align: center;
    margin-top: 4em;
}

img:hover {
    border: 0.5em solid gray;
}

h1 {
    color: #47a3da;
}

span {
    color: #47a3da;
    text-align: center;
}

p {
    color: #47a3da;
}

.nobullets {
    list-style: none;
}

li {
    display: block;
    position: relative;
    /*        margin-top: 11%;*/
}

.container {
    border: 5px solid #47a3da;
}

.navbar {
    border-bottom: 3px solid #58A3D5;
    right: 0;
    margin-bottom: 0em;
    padding-top: 1em;
    width: 100%;
}

.list-title {
    margin-top: 12.5%;
    font-size: 2em;
    color: $blueColor;
}

.price {
    color: $grayColor;
    font-size: 2em;
    display: block;
}

.list-price {
    margin-top: 12%;
}

.list-description {
    margin-top: 12%;
    color: $blueColor;
    padding: 0;
}

.grid-description {
    margin: 1em 4em;
}

.list-img {
    padding: 0;
    border: 0.5em solid $grayColor;
    margin-bottom: 2em;
    display: block;
}

.list-img:hover {
    border: 0.5em solid grey;
}

.cartbutton {
    margin-bottom: 2em;
    color: white;
    background-color: $blueColor;
    border-radius: 2px;
    height: 3em;
    padding: 1em;
    margin-bottom: 4em;
    font-size: 1em;
    display: inline-block;
}

.cartbutton:hover {
    text-decoration: none;
    color: white;
    background-color: darkblue;
}

.list-button {
    margin-top: 12%;
    padding: 0;
}

.list-li {
    padding-bottom: 1em;
    margin-top: 0;
}

@media (max-width: 991px) {
    .list-title {
        margin-top: 23.5%;
    }
    .list-price {
        margin-top: 22%;
    }
    .list-description {
        margin-top: -3%;
    }
    .list-button {
        margin-top: 0;
    }
}