$main: cornflowerblue;

#container {
	width: 90%;
	margin: 0 auto;
}
.product-wrap {
	width: 33%;
	position: relative;	
	border: 3px solid blue;	
		.imageholder{		
			img {
				width: 70%;
				margin: 0 15%;
			}	
		}
	.morepictures {
		position: absolute;
		top: 0;
		right: 0;
		width: 30px;
		height: 30px;
		text-align: center;	
		cursor: pointer;
		border-left: 3px solid blue;
		border-bottom: 3px solid blue;
		line-height: 2em;
		color: blue;	
	}
	.morepictures:hover {
		background-color: blue;
		color: white;
	}
	.productinfo {
		position: relative;	
		height: 3em;
		ul{
			margin: 0;
			padding: 0;	
			list-style-type: none;
		}
		li {
			float: left;
			box-sizing: border-box;
			width: 25%;
			margin: 0;
			padding: 0;
			border-right: 3px solid blue;
			text-align: center;	
			line-height: 1.5em;	
			border-top: 3px solid blue;	
			color: blue;	
			cursor: pointer;	
			font-size: 2em;	
		}
		li:last-child {
			border-right: 0;	
		}	
		li:hover{
			background-color: blue;
			color: white;	
		}	
		.productbuttons {
		}		
		.title {
			font-size: 2em;	
			color: blue;	
			float: left;	
			margin-top: 1em;	
		}	
		.price {
			font-size: 2em;
			color: blue;
			float: right;
			margin-top: 1em;
		}

	}



}//end of product wrap class
