$main: cornflowerblue;

#container {
	width: 90%;
	margin: 0 auto;
}
.product-wrap {
	width: 33%;
	outline: 1px solid black;
	position: relative;	
	
	img {
		width: 70%;
		margin: 0 15%;
	}	
	.morepictures {
		position: absolute;
		top: 0;
		right: 0;
		width: 20px;
		height: 20px;
		outline: 1px solid red;		
		text-align: center;	
	}




}//end of product wrap class
